#bar{
   flex-direction: column; 
}
#bar ul li a{
font-size: 1rem;
padding: 0px 7px;
padding-bottom: 5px;
}
#home{
height: 550px;
padding:3px 15px ;
}
#home ::before{
height: 550px;
}
home p{
    font-size:13px ;
}
#services{
flex-direction: column;
}
#contact .contact_box{
    flex-wrap: wrap;
    padding: 0;
}
.contacts{
    padding: 5px;
}
.h_primary{
    font-size: 26px;
}
.h_secondary{
    font-size: 20px;
}
.contact_box img{
    height:40px;
}
.btn{
    font-size: 1rem;
    padding: 2px 8px;
}
#services .box{
    padding:14px ;
    margin:2px 0px ;
}
